# Git Ignore for My Project.
# -----------------------------------------------------------------------------

# General.
# -------------------------------------
.DS_Store
yarn-error.log
imgcache
node_modules
wpcs-errors.md
**/.git
**/.gitignore
**/.gitmodules
!.gitignore

# WordPress.
# -------------------------------------

# Root
wordpress/

# WP Content
wp-content/languages/
wp-content/debug.log
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/plugins/hello.php
wp-content/uploads/
wp-content/upgrade/
!wp-content/**/vendor/

# Themes - Stock
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/twentytwelve/
wp-content/themes/twentythirteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentyfifteen/
wp-content/themes/twentysixteen/
wp-content/themes/twentyseventeen/
wp-content/themes/twentyeighteen/
wp-content/themes/twentynineteen/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
wp-content/themes/twentytwentytwo/

# Themes - Custom
wp-content/themes/my-project/assets/dist/
wp-content/themes/my-project/style.css
wp-content/themes/my-project/style.css.map
