// Site containers
@mixin site-wrap($size: null, $padding: true) {
	@include mkdo-clearfix;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: mkdo-rem($global--container-width);
	position: relative;
	@if $padding == true {
		padding-left: $global--gutter-width;
		padding-right: $global--gutter-width;
	}

	@if $size == 'normal' {
		max-width: $global--container-width;
	}

	@if $size == 'narrow' {
		max-width: 900px;
	}

	@if $size == 'readability' {
		max-width: $global--container-readability;
	}
}

// Column spacing
@mixin spacing($x: true, $y: true, $size: $global--gutter-width) {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	@if $x {
		margin-right: -$size;
	}
	@if $y {
		margin-bottom: -$size;
	}

	> * {
		width: auto;
		@if $x {
			padding-right: $size;
		}
		@if $y {
			padding-bottom: $size;
		}
	}
}

/// Clearfix.
/// @group helpers
/// @example scss - Apply a clear to a row.
/// 	.row {
/// 		@include mkdo-clearfix();
/// 	}
@mixin mkdo-clearfix {
	*zoom: 1;

	&::before,
	&::after {
		content: ' ';
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Trim margins
@mixin trim($type: margin, $depth: 1) {
	$first: '';
	$last: '';
	@for $i from 0 to $depth {
		$first: $first + ' > :first-child';
		$last: $last + ' > :last-child';

		#{$first} {
			#{$type}-top: 0;
		}

		#{$last} {
			#{$type}-bottom: 0;
		}
	}
}
