// Font Stacks.
// -------------------------------------

// Font Stack - Monospaced.
$mkdo-font-stack--monospaced: consolas, 'Courier New', monaco 'Lucida Console',
	monospace !default;

// Font Stack - Serif.
$mkdo-font-stack--serif: georgia, times, 'Times New Roman', serif !default;

// Font Stack - Sans Serif.
$mkdo-font-stack--sans-serif: 'Open Sans', 'Helvetica Neue', helvetica, arial,
	sans-serif !default;

// Font Sizes.
// -------------------------------------

// Font Size - Copy Extra Large.
$mkdo-font-size--xlarge: 20px !default;

// Font Size - Copy Large.
$mkdo-font-size--large: 18px !default;

// Font Size - Copy Medium.
$mkdo-font-size--medium: 16px !default;

// Font Size - Copy Small.
$mkdo-font-size--small: 14px !default;

// Font Size - Copy Extra Small.
$mkdo-font-size--xsmall: 12px !default;

// Font Size - Heading 1.
$mkdo-font-size--h1: 36px !default;

// Font Size - Heading 2.
$mkdo-font-size--h2: 32px !default;

// Font Size - Heading 3.
$mkdo-font-size--h3: 28px !default;

// Font Size - Heading 4.
$mkdo-font-size--h4: 26px !default;

// Font Size - Heading 5.
$mkdo-font-size--h5: 24px !default;

// Font Size - Heading 6.
$mkdo-font-size--h6: 22px !default;

// Font Weights.
// -------------------------------------

// Font Weight - Bold.
$mkdo-font-weight--bold: 700 !default;

// Font Weight - Semi Bold.
$mkdo-font-weight--semibold: 600 !default;

// Font Weight - Normal.
$mkdo-font-weight--normal: 400 !default;

// Font Weight - Light.
$mkdo-font-weight--light: 300 !default;

// Line Heights.
// -------------------------------------

// Line Height - Large.
$mkdo-line-height--large: 1.75em !default;

// Line Height - Medium.
$mkdo-line-height--medium: 1.5em !default;

// Line Height - Small.
$mkdo-line-height--small: 1.25em !default;
