// Entry content refers to any content edited or editable inside the WordPress
// editor.
.entry-content {
	@include site-wrap('readability');

	// Default blocks
	.wp-block-button {
		.wp-block-button__link {
		}
	}

	ul.wp-block-gallery {
		li.blocks-gallery-item {
		}
	}

	// Alignment
	.alignwide,
	.alignfull {
		margin-left: 0;
		margin-right: 0;
		position: relative;
		clear: both;
		left: -$global--spacing-common;
		width: calc(100% + (#{$global--spacing-common} * 2));
		max-width: calc(100% + (#{$global--spacing-common} * 2));
	}
	// Adjust wide per breakpoint, to be slightly wider then default content.
	.alignwide {
		@media screen and (min-width: 570px) {
			left: -60px;
			width: calc(100% + 120px);
			max-width: calc(100% + 120px);
		}
	}

	// Adjust full per breakpoint to take up the full browser width, but not
	// exceed the max width of the site if there is one.
	.alignfull {
		@media screen and (min-width: 570px) {
			left: calc(calc(-50vw + (570px / 2) - #{$global--spacing-common}));
			width: 100vw;
			max-width: 100vw;
		}
	}
}
