/// Reset button styles.
/// @group helpers
/// @example scss - Reset default button styles.
/// 	.button {
/// 		@include mkdo-reset-button();
/// 	}
@mixin mkdo-reset-button {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}

/// Reset list styles.
/// @group helpers
/// @param {Bool} float [false] - Float the list.
/// @example scss - Reset and float the <ul>.
/// 	ul {
/// 		@include mkdo-reset-list(true);
/// 	}
@mixin mkdo-reset-list($float: false) {
	margin: 0;
	padding: 0;
	list-style: none;

	@if $float {
		overflow: hidden;
	}

	li {
		margin-bottom: 0;
		@if $float {
			float: left;
		}
	}
}
