// Flags
// ---------------------------------

.staticflag-relative {
	position: relative;
}

.staticflag-fullscreen {
	width: 100vw;
	height: 100vh;
	display: block;
}

.staticflag-relativechild {
	> * {
		position: relative !important;
	}
}

.staticflag-wrap {
	@include site-wrap('normal');
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.staticflag-wrap-narrow {
	@include site-wrap('narrow');
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.staticflag-wrap-form {
	@include site-wrap('form');
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}

.staticflag-allowoverflow {
	overflow: visible !important;
}

.staticflag-tabbed {
	padding-top: 0;
	margin-top: 0;
	background-color: $static--white !important;
	.staticflag-tabbed__link {
		background-color: $static--white;
		margin: 0 20px 0 0;
		padding: 4px 10px;
		display: inline-block;
		text-decoration: none;
		color: $static--palegrey;
		@include mkdo-on-event {
			color: $static--offdark;
		}
		&.staticflag-tabbed__link--active {
			color: $static--white;
			background-color: $static--lightgrey;
		}
	}
	.staticflag-tabbed__tab {
		display: block;
		border-top: 2px solid $static--lightgrey;
		padding-top: 40px;
	}
}

.staticflag-spacing {
	> * {
		margin-right: $global--spacing-common !important;
		margin-bottom: $global--spacing-common !important;
	}
}

.staticflag-vertspacing {
	> * {
		margin-top: $global--spacing-common !important;
		margin-bottom: $global--spacing-common !important;
	}
}

.staticflag-flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.staticflag-offwhite {
	background-color: $static--offwhite;
	.staticflag-tabbed__tab {
		background-color: $static--offwhite;
	}
}

.staticflag-icon {
	justify-content: flex-start !important;
	svg {
		width: 30px;
		height: 30px;
	}
}

.staticflag-zindex999 {
	z-index: 999;
}

.staticflag-custom {
	// Add whatever the heck flag y'all want here. 🤠
	// Adding 'custom' to the flags in the comment will add this class to the wrap.
}
