[class^='static-']:not([class^='static-part']) {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.static-part {
	// Static part inherits from body to mimic the live sites font-family
	@extend body;
	overflow: hidden;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: $static--white;
}

.static-wrap {
	@include site-wrap('normal');
	position: relative;
}

.static-header {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	.static-heading {
		margin: 0;
	}

	.static-heading__left {
		padding-right: 20px;
	}

	.static-header__nav {
		width: 100%;
		@include mkdo-mq(sm) {
			margin-left: auto;
			width: auto;
		}
	}
}

.static-contents {
	@include mkdo-reset-list();
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	@include spacing;
}

.static-text-content {
	p {
		max-width: $global--container-readability;
	}
}

.static-hr {
	border-color: $static--palegrey;
	border-style: dashed;
}

.static-info {
	background-color: $static--offwhite;
	padding: mkdo-rem(20px);
	margin-bottom: 30px;
}

.static-info__row {
	@include spacing(true, true, 20px);
}

.static-info__col {
	font-family: 'Roboto Mono', monospace;
}

.static-header__nav {
	@include mkdo-reset-list();
	justify-content: space-between;

	// Match default site-wrap padding so no overflow occurs
	@include spacing(true, false, 20);

	@include mkdo-mq(sm) {
		@include spacing(true, false, 40);
	}
	@include mkdo-mq(md) {
		@include spacing(true, false, 50);
	}
	@include mkdo-mq(lg) {
		@include spacing(true, false, 70);
	}

	li {
		padding-top: 10px;
		padding-bottom: 10px;
		a {
			text-decoration: none;
			color: $static--palegrey;
			@include mkdo-on-event {
				color: $static--offdark;
			}
			&.active {
				color: $static--offdark;
			}
		}
	}
}

.static-folder-header {
	background-color: $static--offdark;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	.static-heading {
		color: $static--palegrey;
		margin: 0;
		font-weight: 200;
		display: flex;
		align-items: center;
		letter-spacing: 0.1em;
		svg {
			fill: $static--palegrey;
			width: 25px;
			height: 25px;
		}
	}
}

.static-heading {
	text-transform: capitalize;
	color: $static--lightgrey;
	font-size: 20px;

	@include mkdo-mq(sm) {
		font-size: 30px;
	}
}

.static-label {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	line-height: 14px;
	color: $static--palegrey;
}

.static-colours-used {
	@include mkdo-reset-list();
	@include spacing();

	span {
		display: block;
		width: 100px;
		height: 100px;
		box-shadow: 0 0 0 1px $static--offwhite inset;
	}
}
