blockquote {
	padding: $global--spacing-common 0;
	margin: mkdo-rem($global--spacing-common) 0;
	border-top: $global--border-basic;
	border-bottom: $global--border-basic;

	p {
		font-size: mkdo-rem(20px);
		quotes: '\201c''\201d';

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}

		+ p {
			margin-top: 0;
		}
		&:first-child {
			margin-top: 0;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
