@mixin button {
	@include mkdo-reset-button;
	padding: mkdo-rem(12px) mkdo-rem(20px);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: $global--border-radius-small;
	vertical-align: top;
	transition: $global--transition;

	font-weight: 400;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	// Buttons with icons also use span for text
	> span {
		line-height: 1em;
	}

	min-width: mkdo-rem(115px);

	&::before,
	&::after {
		content: none;
	}

	svg {
		fill: currentColor;
		transition: $global--transition;
		width: 1em;
		height: 1em;
		margin-right: $global--spacing-xs;
	}

	@include mkdo-on-event() {
		text-decoration: none;
	}

	&.button--disabled,
	&:disabled {
		background-color: lighten($mkdo--grey, 15%);
		opacity: 0.3;
		pointer-events: none;
		color: $mkdo--dark;
		box-shadow: 0 0 0 1px lighten($mkdo--grey, 15%) inset;
		svg {
			fill: $mkdo--dark;
		}
		@include mkdo-on-event {
			background-color: lighten($mkdo--grey, 15%);
			box-shadow: 0 0 0 1px lighten($mkdo--grey, 15%) inset;
			color: $mkdo--dark;
			svg {
				fill: $mkdo--dark;
			}
		}
	}
}

.button,
.button--primary,
.wp-block-button .wp-block-button__link,
[type='reset'],
[type='submit'] {
	@include button;
	color: $mkdo--white;
	background-color: $mkdo--primary;
	svg {
		fill: $mkdo--white;
	}
	@include mkdo-on-event {
		color: $mkdo--white;
		background-color: $mkdo--dark-primary;
		svg {
			fill: $mkdo--white;
		}
	}
}

.button--secondary {
	@include button;
	color: $mkdo--white;
	background-color: $mkdo--secondary;
	svg {
		fill: $mkdo--white;
	}
	@include mkdo-on-event {
		color: $mkdo--white;
		background-color: $mkdo--dark-secondary;
		svg {
			fill: $mkdo--white;
		}
	}
}

.button--grey {
	@include button;
	color: $mkdo--white;
	background-color: $mkdo--grey;
	svg {
		fill: $mkdo--white;
	}
	@include mkdo-on-event {
		color: $mkdo--white;
		background-color: $mkdo--dark;
		svg {
			fill: $mkdo--white;
		}
	}
}

@mixin button-ghost {
	@include button;
	min-width: mkdo-rem(150px);
	padding: mkdo-rem(8px) mkdo-rem(20px);
}

.button--ghost-dark {
	@include button-ghost;
	color: $mkdo--dark;
	box-shadow: 0 0 0 1px $mkdo--dark inset;
	background-color: transparent;
	svg {
		fill: $mkdo--dark;
	}
	@include mkdo-on-event {
		color: $mkdo--white;
		background-color: $mkdo--dark;
		svg {
			fill: $mkdo--white;
		}
	}
}

.button--ghost-white {
	@include button-ghost;
	color: $mkdo--white;
	box-shadow: 0 0 0 1px $mkdo--white inset;
	background-color: transparent;
	svg {
		fill: $mkdo--white;
	}
	@include mkdo-on-event {
		color: $mkdo--dark;
		background-color: $mkdo--white;
		svg {
			fill: $mkdo--dark;
		}
	}
}
